@model List<Part1ex.Models.Calculations>



<div style="margin-top: 1.5rem;">
	<a class="btn btn-primary" href="@Url.Action("Dashboard", "Home")">Back to Dashboard</a>
</div>
	<div class="container">


	<br />

<h1 class="dashboard-heading">Welcome to your Claims</h1>

	<h2 class="dashboard-heading">Total claims made Below: @(Model?.Count ?? 0)</h2>

@if (Model != null && Model.Any())
{
<table >
	<thead>
<tr>
	<th>Claim id </th>
	<th>Claim </th>
	<th>Total claim </th>
	<th>Claim date </th>
	<th>Documents Uploaded </th>
	<th>Claim status </th>
</tr>
	</thead>

<tbody>
	@for(int i = 0 ; i < Model.Count; i++){<!--We make sure that every new claim they are incremented by one using the for loop-->

<tr>
	<td>@(i+1)</td><!--claim number increases by one-->
	<td>@Model[i].claimid</td>
				<td>@Model[i].TotalAmount.ToString("0.00")</td>
				<td>@Model[i].ClaimDate.ToString("yyyy-MM-dd")</td>
				<td>@(Model[i].DocumentsUploaded ?? "None")</td> <!--We disply none if nothing has been submitted-->
						<td>
							<span class="badge @(Model[i].ClaimStatus?.ToLower()?? "pending")">
								@Model[i].ClaimStatus</span>
						</td>
</tr>
	}

</tbody>

</table>


		<div style="margin-top: 1.5rem;" class="buttons">
			<a class="btn btn-success" href="@Url.Action("Claims", "Home")">Submit a New Claim</a>
			</div>
}

else
{<p class="alert alert-info">No claim made yet</p>}



</div>