@model List<Part1ex.Models.Calculations>

    <a class="btn btn-primary" href="@Url.Action("CoordinatorDashboard","Home")"> Back to Dashboard</a>

<div class="container">


<br />
	<h2 class="dashboard-heading">Submitted claims :</H2>


@if (!Model.Any())
{
	<div class="alert alert-info">No claims submitted yet.</div>

}
else
{
	<table >
		<thead>
		<tr>
			<th>Claim id</th>
			<th>Lecturer name </th>
			<th>Hours Worked </th>
			<th>Hourly Rate </th>
			<th>Total Amount </th>
			<th>Documents </th>
			<th>Claim date </th>
			<th>Status </th>
			<th>Actions </th>
		
		</tr>
		</thead>
		<tbody>
		<!---
			for (int i = 0; i < Model.Count; i++)//to know each claims status in the index only the ones that show pending will show the approve and reject buttons
		--->
		@foreach (var claim in Model)
		{
			var statusNormalized = (claim.ClaimStatus ?? "Pending").Trim().ToLower();
			<tr>
				<td>@claim.claimid</td>
				<td>@claim.Lecturer</td>
				<td>@claim.HoursWorked</td>
				<td>@claim.HourlyRate</td>
				<td>@claim.TotalAmount</td>
				<td>@(claim.DocumentsUploaded ?? "None")</td>
				<td>@(claim.ClaimDate)</td>
				<td><span class="badge"> @claim.ClaimStatus </span>	</td>
					<td>
					@if (statusNormalized == "pending")
					{
						<a class="btn btn-success btn-sm" href="@Url.Action("ApproveClaim" , "Home", new { claimid = claim.claimid})">Verify</a>
						<br />
						<a class="btn btn-danger btn-sm" href="@Url.Action("RejectClaim" , "Home", new { claimid = claim.claimid})">Deny</a>
					}
					else
					{
						<span>Checked</span>
					}
				</td>


			</tr>
		}
		</tbody>



	</table>
	@if (TempData["Message"] != null)
    {
        <p style="color:green">@TempData["Message"]</p>
    }
}
</div>